* {
    margin: 0;
    padding: 0;
}


#container {
    display: grid;
    grid-template-columns: repeat(3,200);
    gap: 1px 1px;
    grid-template-rows: repeat(9, 300px);
    justify-items: stretch;
    align-items: center;

}

.item {
    background-color: lightblue;
    padding: 34px;

}